*{
    font-family: Arial, Helvetica, sans-serif;
}

.tools{
    height: 270px;
    width: 820px;
    /* background-color: aquamarine; */
    margin-left: 233px;
}
.image1{
    height: 270px;
    width: 820px;
    margin-left:5px;
    margin-top: 10px;
}
hr{
    border: 1px solid rgba(190, 9, 9, 0.795);
    /* width: 1200px; */
    margin-left: 133px;
    margin-right: 70px;
}